* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg-laman {
  min-height: 100vh;
  background-image: url(../images/kota.jpg);
  background-position: center;
  background-repeat: repeat;
}

.text-style {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: azure;
  border: 2px;
  border-color: black;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 5px 70px;
  position: fixed;
  /*mix-blend-mode: difference;*/
}

.navbar-nav {
  font-size: 16px;
  color: #c0cee7;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px 10px;
  transition: 0.3s;
  font-weight: bold;
}

.nav-item {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  transform-origin: 30 30;
}

.nav-item:hover {
  background-color: #e2edf2;
  border-radius: 5px;
}

.Hero {
  min-height: 100vh;
  background-image: url(../images/me.webp);
  background-position: center;
  background-repeat: repeat;
  background-color: rgba(17, 39, 104, 0.3);
  color: rgb(0, 0, 0);
  font-weight: bold;
  align-items: center;
  text-align: justify;
  padding: 70px 70px;
}
.img {
  width: 350px;
  height: 350px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: rgb(211, 177, 66);
}
.about {
  min-height: 100vh;
  background-image: url(../images/About-Me.webp);
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 1370px 700px;
  font-size: 30px;
}
.Experiences {
  min-height: 100vh;
  background-image: url(../images/experience.jpg);
  background-position: center;
  background-repeat: repeat;
  padding: 90px 1.5rem;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  color: rgb(10, 10, 10);
  text-shadow: 2px 2px 2px rgb(255, 255, 255);

  background-size: 1370px 700px;
}
.Education {
  min-height: 100vh;
  background-image: url(../images/education.jpg);
  background-position: center;
  background-repeat: repeat;
  padding: 90px 1.5rem;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 1370px 700px;
}
.Skills {
  min-height: 100vh;
  background-image: url(../images/skill.jpg);
  background-position: center;
  background-repeat: repeat;
  padding: 90px 1.5rem;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 3px rgb(255, 254, 254);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 1370px 700px;
}
.Interests {
  min-height: 100vh;
  background-image: url(../images/interests..jpg);
  background-position: center;
  background-repeat: repeat;
  padding: 90px 1.5rem;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px white;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 1370px 700px;
}
.Award {
  min-height: 100vh;
  background-image: url(../images/award.webp);
  background-position: center;
  background-repeat: repeat;
  padding: 90px 1.5rem;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 1370px 700px;
}
@media (max-width: 760px) {
  html {
    font-size: 65%;
  }
}
