* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg-laman {
  min-height: 100vh;
  background-image: url(../images/bacground.png);
  background-position: center;
  background-repeat: repeat;
}

.text-style {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: azure;
  border: 2px;
  border-color: black;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 5px 70px;
  position: fixed;
  /*mix-blend-mode: difference;*/
}

.navbar-nav {
  font-size: 16px;
  color: #c0cee7;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px 10px;
  transition: 0.3s;
  font-weight: bold;
}

.nav-item {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  transform-origin: 30 30;
}

.nav-item:hover {
  background-color: #e2edf2;
  border-radius: 5px;
}

.Hero {
  min-height: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-color: rgba(2, 2, 2, 0.29);
  color: rgb(0, 0, 0);
  font-weight: bold;
  align-items: center;
  text-align: justify;
  padding: 70px 70px;
  font-size: 30px;
}
.img {
  width: 350px;
  height: 350px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: rgb(211, 177, 66);
}
.home {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 1370px 700px;
  font-size: 30px;
}
.home div {
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 100px;
  width: 100px;
}
.about {
  min-height: 100vh;
  background-image: url(../images/About-Me.webp);
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 1370px 700px;
  font-size: 30px;
}

.Experiences {
  min-height: 100vh;
  background-position: center;
  background-color: rgba(2, 2, 2, 0.511);
  background-repeat: no-repeat;
  padding: 90px 1.5rem;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  color: rgba(255, 255, 255, 0.644);
  text-shadow: 2px 2px 2px rgba(4, 4, 4, 0.518);
  background-size: 1370px 700px;
}
.Education {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 1.5rem;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 1370px 700px;
}
.Skills {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 1.5rem;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 3px rgb(255, 254, 254);
  background-color: rgba(2, 2, 2, 0.603);
  background-size: 1370px 700px;
}
.Interests {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 1.5rem;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px white;
  background-color: rgba(2, 2, 2, 0.457);
  background-size: 1370px 700px;
}
.Award {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 1.5rem;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  background-color: rgba(2, 2, 2, 0.687);
  background-size: 1370px 700px;
}
@media (max-width: 760px) {
  html {
    background-size: 720px 1280px;
  }
}
@media (max-width: 480px) {
  html {
    background-size: 480px 800px;
  }
}
